<%- include('../partials/head') %>

<main>
    <section id="leaderboard">
        <h2>Leader board</h2>
        <ol>
            <% leaderBoard.forEach(function(user){ %>
                <li> <%= user.name%>: <%= user.score%></li>
            <% }) %>
        </ol>
    </section>
    <section id="game">
        <h2>Guess that album</h2>
        <input id="blurAlbum" type="checkbox" checked>
        <img id="albumArtwork" src='<%= album.image[3]['#text'] %>' alt="album art">
        <form>
            <input id="username" type="text" autocomplete="off">
            <input id="guess" type="text" autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </section>
</main>
<script src="/socket.io/socket.io.js"></script>

<%- include('../partials/footer') %>
