<%- include('../partials/head') %>

<main>
    <h1>Guess that album</h1>


    <section id="game">
        <div class="artwork">
            <input id="blurAlbum" type="checkbox" checked>
            <img id="albumArtwork" src='<%= album.image[3]['#text'] %>' alt="album art">
        </div>
        <div class="leaderboard">
            <ol>
                <% leaderBoard.forEach(function(user){ %>
                    <li> <%= user.name%>: <%= user.score%></li>
                <% }) %>
            </ol>
        </div>
    </section>
    <form>
        <input id="username" type="text" autocomplete="off" placeholder="name">
        <input id="guess" type="text" autocomplete="off" placeholder="answer">
        <button type="submit">Send</button>
    </form>
    <span class="winner"></span>
</main>
<script src="/socket.io/socket.io.js"></script>

<%- include('../partials/footer') %>
